:root{
    background-color: #add8e6;
}

body { background-color: var(#add8e6);



img{
    width: 20%;
]
header{
    display: flex;
    align-content: center;
    justify-content: space-around;
}






